<template>
  <div dir="rtl">
    <b-navbar 
    class="position-relative" 
    toggleable="lg" 
    type="dark" 
    variant="dark">
      <b-navbar-nav>
        <b-nav-item @mouseenter="showCatMenu = true">
          <font-awesome-icon icon="bars" />
          دسته بندی</b-nav-item>
      </b-navbar-nav>

      <b-row 
      @mouseleave="showCatMenu = false" 
      v-if="showCatMenu" class="text-right rounded shadow-sm" 
      style="position:absolute; width: 92%; top:100%; right:70px; background-color: #eee">
        <b-col lg="3" class="px-0">
          <root-menu v-model="categories" @subMenu="emitSubMenu"/>
        </b-col>

        <b-col lg="auto" class="my-3">
          <subItem class="w-100" v-model="subItems"/>
        </b-col>
      </b-row>
    </b-navbar>
  </div>
</template>

<script>
import axios from 'axios'
const subItem = () => import('./subItem')
const RootMenu = () => import('./RootMenu')

export default {
  data() {
    return {
      showCatMenu: false,
      categories: null,
      subItems: null,
      selectedRoot: null
    }
  },
  components: {
    subItem,
    RootMenu
  },
  created () {
    axios.get('http://localhost:3000/categories')
    .then(response => {
      this.categories = response.data
      this.subItems = this.categories[0].subcategory
      this.selectedRoot = this.categories[0].name
    })
    .catch(err => {
      alert(err.response)
    })
  },
  methods: {
    emitSubMenu (menu) {
      this.subItems = menu.subcategory
      this.selectedRoot = menu.name
    }
}
}
</script>
