<template>
  <div>
    <b-link
    v-for="item in model" 
    :key="item.id"
    @mouseenter="emitHovering(item)"
    style="cursor: pointer; background-color: #ddd"
    class="p-3 my-0 d-block small cursor-pointer font-weight-bold text-dark text-decoration-none"
    :class="{'bg-white': item.hover}">
    {{item.name}}
    </b-link>
  </div>
</template>

<script>
  export default {
    name: 'RootMenu',
    props: {
      value: { type: Array, required: true}
    },
    computed: {
      model () {
        this.value.forEach((item, index) => {
          this.$set(item, 'hover', index === 0)
        })
        return this.value
      }
    },
    methods: {
      emitHovering(item) {
        this.model.forEach(i => {
          if (i.id === item.id) i.hover = true
          else i.hover = false
        })
        this.$emit('subMenu', item)
      }
    }
  }
</script>
