<template>
  <div>
    <div class="w-100 d-flex flex-column flex-wrap justify-content-start align-items-start overflow-hidden">
      <template v-for="item in value" >
        <div 
        class="mb-2 font-weight-bold small d-flex align-items-center" 
        style="width:25%!important" 
        :key="item.name">
          <b-link class="cursor-pointer text-nowrap text-dark text-decoration-none">
            <span>{{item.name}}</span>
            <font-awesome-icon icon="angle-left" class="mx-1" />
          </b-link>
        </div>

        <div v-if="item.subcategory" :key="item.id">
          <div 
          v-for="sub in item.subcategory" 
          :key="sub.id" 
          class="mb-2 small text-muted mr-1" 
          style="width:25%!important">
            <b-link class="cursor-pointer text-nowrap text-muted text-decoration-none">
              <span>{{sub.name}}</span>
            </b-link>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'subItem',
    props: {
      value: { type: Array, required: true }
    }
  }
</script>
