<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
  @font-face{
    src: url(./assets/iranyekanweblight.woff2);
    font-family: iranyekan;
  }
  *{
    font-family: iranyekan !important;
  }
</style>